=render "spa/nav"
=render "spa/header"
=render "spa/services"
=render "spa/portfolio"
=render "spa/about"
=render "spa/team"
=render "spa/clients"
=render "spa/contact"
=render "spa/footer"
=render "spa/modals"
