div class="modal-body"
  h2 Project Name
  p class="item-intro text-muted"
    | Lorem ipsum dolor sit amet consectetur.
  =image_tag "portfolio/golden-preview.png",
             class: "img-responsive img-centered"
  markdown:
    Start Bootstrap's Agency theme is based on Golden, a free PSD
    website template built by [Mathavan Jaya]. Golden is a modern
    and clean one page web template that was made exclusively for
    Best PSD Freebies. This template has a great portfolio,
    timeline, and meet your team sections that can be easily
    modified to fit your needs.

    You can download the PSD template in this portfolio sample
    item at [FreebiesXpress.com].

    [Mathavan Jaya]: https://www.behance.net/MathavanJaya
    [FreebiesXpress.com]: http://freebiesxpress.com/gallery/golden-free-one-page-web-template/
  button type="button" class="btn btn-primary" data-dismiss="modal"
    i class="fa fa-times"
    |  Close Project

