div class="modal-body"
  h2 Project Name
  p class="item-intro text-muted"
    | Lorem ipsum dolor sit amet consectetur.
  =image_tag "portfolio/dreams-preview.png",
             class: "img-responsive img-centered"
  markdown:
    Dreams is a free PSD web template built by [Mathavan Jaya]
    Dreams is a modern one page web template designed for almost
    any purpose. It’s a beautiful template that’s designed with
    the Bootstrap framework in mind.

    You can download the PSD template in this portfolio sample
    item at [FreebiesXpress.com].

    [Mathavan Jaya]: https://www.behance.net/MathavanJaya
    [FreebiesXpress.com]: http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/
  button type="button" class="btn btn-primary" data-dismiss="modal"
    i class="fa fa-times"
    |  Close Project
